My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YvBf7W-Shh3ZaYiD8FjMgljERLoA3zhs",
          "mode": "list",
          "cachedResultName": "rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YvBf7W-Shh3ZaYiD8FjMgljERLoA3zhs"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "b645cca2-d5c3-4951-b825-f2743409e203",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rYbYXbxHj2JyL5nK",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        208
      ],
      "id": "98acd608-8d1a-4f77-ade3-03cb485c9555",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rYbYXbxHj2JyL5nK",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "CV"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "1301564c-9610-4d15-aae9-c2d8a613a208",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "pYLhXZ8NMaVGdFRm",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "2eca38f7-e74a-447e-a74a-5011a9e29767",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "72d19f54-eed9-4c6d-b47b-6f5fe3201efa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "fe0eb347-3654-4f6b-a0c1-4b22d7923580",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        848
      ],
      "id": "4d82213d-c7ec-4cf6-b71c-a13326cf7e81",
      "name": "When chat message received",
      "webhookId": "67742f13-9331-40d3-bede-6f2c0eb203d4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "you will extract the document information name,about me, education and all the information in the pdf or docs file"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        848
      ],
      "id": "e7992a4b-d27e-4893-9b78-f18e7e42ab3d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        1072
      ],
      "id": "2379bcbc-f9e9-479c-9687-3f2589e21ec1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "you will extract the document information name,about me, education and all the information in the pdf or docs file",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "CV"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        1072
      ],
      "id": "0ce56a27-9bf9-4172-adbb-13a28dabdd17",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "pYLhXZ8NMaVGdFRm",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        1280
      ],
      "id": "37202cf9-255b-470b-9d20-ae355ef5e53a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "538b73a4-8ed6-4ae2-81fb-d746f30dadd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "559edfcfa1cf89eec2d5185fc8f70452f85211a4b9ef018ca2542b8b891fe33f"
  },
  "id": "hapbtQ2PsAV2GGFd",
  "tags": []
}